# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/ml/.ipynb_checkpoints
/ml/thermostat-predict-temperature-Copy1.ipynb
/ml/learning-thermostat-state.ipynb
/ml/keras-test.ipynb
/ml/datasets/thermostat
